.animal-kingdom-banner {
  height: 500px;
  display: flex;
  // background-image: url('https://cdn.britannica.com/05/75105-050-7FAA611D/Pride-lions.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  background-color: $color-mantis;
  margin-top: 20px;
}