.animal-show {
  display: flex;
  flex-direction: column;

  // top banner
  .animal-show-banner {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url('/frontend/src/styles/assets/89210.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: orange;
    margin-top: 80px;

    .animal-show-heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      h1 {
        font-size: 50px;
      }
    }
  }

  // content container
  .animal-show-content-container {
    width: 90%;
    display: flex;
    align-self: center;
    // align-self: center;
    margin-top: 30px;

    .content-left {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .animal-key-info {
        width: 80%;
        display: flex;

        .info-left {
          width: 60%;
        }

        .info-right {
          width: 40%;
        }

        .info-left, .info-right {
          display: flex;
          flex-direction: column;

          div {
            font-size: 22px;
            margin:8px 0;
          }
        }
      }

      .did-you-know {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        margin-top: 30px;
        padding: 25px;
        text-align: center;
        border-radius: 5px;
        color: white;

        h3 {
          font-size: 20px;
          text-transform: uppercase;
          border-bottom: 2px solid $color-flame;
          margin-bottom: 10px;
        }

        p{
          font-size: 24px;
        }
      }
    }

    .content-right {
      width: 50%;
      display: flex;
      flex-direction: column;

     img {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 0 5px 4px rgb(179, 179, 179);
      }

      .show-images {
        display: flex;
        justify-content: center;
        margin-top: 30px;

        img {
          width: 45%;
          border-radius: 5px;
          margin: 0 10px;
          box-shadow: 0 0 5px 4px rgb(179, 179, 179);
        }
      }
    }
  } 
}
