.habitat-index {
  display: flex;
  flex-direction: column;

  .habitat-index-banner {
    height: 300px;
    background-image: url('https://images.pexels.com/photos/52717/elephant-herd-of-elephants-animals-african-bush-elephant-52717.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 100px;
  }

  .habitat-index-content-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    height: 1000px;
    margin-top: -300px;
    z-index: 1;
    // background-color: cadetblue;

    .habitat-index-heading {
      width: 40%;
      height: 10%;
      background-color: rgba(255, 255, 255, 0.8);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: flex-start;
      margin-bottom: 150px;
  
      h1 {
        font-size: 50px;
      }
    }
  
    .habitat-index-card-container {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: center;
      margin-top: 30px;

      .habitat-index-card-row {
        display: flex;
        margin-bottom: 20px;

        .habitat-index-card {
          width: 200px;
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 20px;
          background-color: rgb(0, 0, 124);
          // background-image: url('https://c402277.ssl.cf1.rackcdn.com/photos/2232/images/portrait_overview/XL_288467.jpg?1345653107');
          // background-size: cover;
          color: white;
          border-radius: 10px;
          text-decoration: none;
        }
      }

      
    }
  } 
}

