header {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header-top {
    height: 40px;
    background-color: rgb(236, 236, 236);
    padding-top: 10px;

    nav {
      height: 100%;
      width: 40%;
      display: flex;
      justify-content: space-around;

      a {
        color: black;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }

  .header-bottom {
    height: 60px;
    // background-color: lightgreen;
    padding-top: 10px;
    border-bottom: 3px solid black;

    h1 {
      font-family: 'Oldenburg', cursive;
    }
  }
 
}

